:root {
  --primary-color: #4285f4;
  --secondary-color: #202124;
  --text-color: #5f6368;
  --error-color: #ff0000;
  --font-size-base: 1rem;
  --border-radius: 50px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.search-container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.input-container {
  position: relative;
  width: 400px;
}

.input-container input {
  width: 100%;
  padding: 10px 20px 10px 60px;
  font-size: var(--font-size-base);
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.input-container input:focus {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.4);
  border-color: var(--primary-color);
}

.input-container input::placeholder {
  color: var(--text-color);
  font-size: var(--font-size-base);
}

.input-container .search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.input-container .search-icon .material-icons {
  font-size: 1.5rem;
  color: var(--text-color);
}

.input-container .search-icon:hover .material-icons {
  color: var(--secondary-color);
}

.error {
  color: var(--error-color);
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
